{% extends 'base.html.twig' %}

{% block title %}Error al mandar{% endblock %}

{% block body %}
<style>

</style>
<div class='justify-content-center d-flex mute-text mt-5 flex-column align-items-center'>
    <h1 class='text-danger'>Error al mandar</h1>
    <p class='text-center'>
        Ups, parece que ha habido un error<br />
        puede volver a mandar el formulario o comunicarse con nosotros a través de <a href='mailto: correo@contacto.com'>correo@contacto.com</a><br/>
        Muchas Gracias 
    </p>
    <hr class='w-25' />
</div>
    
</div>
{% endblock %}
