{% extends 'base.html.twig' %}

{% block title %}Formulario de Contacto{% endblock %}

{% block body %}
<style>
    .contact-form__wrapper {
        padding: 3em;
    }
</style>

<div class="contact-form__wrapper">

    <div class='col-9'>
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ '/home/sebastian/Documentos/Trabajo/IRIDIAN/Prueba/Symfony_form/src/Controller/ContactController.php'|file_link(0) }}">src/Controller/ContactController.php</a></code></li>
            <li>Your template at <code><a href="{{ '/home/sebastian/Documentos/Trabajo/IRIDIAN/Prueba/Symfony_form/templates/contact/index.html.twig'|file_link(0) }}">templates/contact/index.html.twig</a></code></li>
        </ul>
    </div>
    <aside class='col-3'></aside>
    
</div>
{% endblock %}
