{% extends 'base.html.twig' %}

{% block title %}Formulario de Contacto{% endblock %}

{% block body %}
<style>
    .contact-form__wrapper {
        padding: 3em;
    }
</style>
<div class='justify-content-center d-flex mute-text mt-5 flex-column align-items-center'>

    <p class='text-center text-muted'>Si tiene algún problema <br />puede comunicarse con nosotros <br/> a través de este formulario</p>
    <hr class='w-25' />
</div>
<div class="contact-form__wrapper row">

    <div class='col-9'>
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ '/home/sebastian/Documentos/Trabajo/IRIDIAN/Prueba/Symfony_form/src/Controller/ContactController.php'|file_link(0) }}">src/Controller/ContactController.php</a></code></li>
            <li>Your template at <code><a href="{{ '/home/sebastian/Documentos/Trabajo/IRIDIAN/Prueba/Symfony_form/templates/contact/index.html.twig'|file_link(0) }}">templates/contact/index.html.twig</a></code></li>
        </ul>
    </div>
    <aside class='col-2'>
        <h3>Contactanos</h3>
        <hr />
        <ul class='justify-content-start list-unstyled text-muted'>
            <li>Email: <a href='mailto: Correo@contacto.com'>Correo@contacto.com</a></li>
            <li>Telefono: 1234-1234567</li>
            <li><br/></li>
            <li>123 Calle Calle</li>
            <li>Oficina oficina</li>
        </ul>
    </aside>
    
</div>
{% endblock %}
