{% extends 'base.html.twig' %}

{% block title %}Mandado con éxito{% endblock %}

{% block body %}
<style>

</style>
<div class='justify-content-center d-flex mute-text mt-5 flex-column align-items-center'>
    <h1 class='text-success'>Mensaje mandado con éxito</h1>
    <p class='text-center'>
        Nuestros expertos se comunicaran<br />
        con usted apenas reciban la información<br/>
        Muchas Gracias 
    </p>
    <hr class='w-25' />
</div>
{% endblock %}
