<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <div class="offset-md-9">
        </div>

        <ul class="nav col-3 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 text-end">
          <li><a href="#" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Contáctanos</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Acerca</a></li>
        </ul>

      </div>
    </div>
  </header>